---
import { SOCIALS } from "@/constants";
import Icon from "./Icon.astro";
import LinkButton from "./LinkButton.astro";
---

<div class="flex flex-wrap items-center gap-1">
  {
    SOCIALS.map(social => (
      <LinkButton
        href={social.href}
        class="rounded-md p-2 text-muted-foreground transition-colors hover:text-accent motion-reduce:transition-none sm:p-1.5"
        title={social.linkTitle}
      >
        <Icon
          icon={social.icon}
          class="inline-block size-6 fill-current sm:size-5"
        />
        <span class="sr-only">{social.linkTitle}</span>
      </LinkButton>
    ))
  }
</div>
